#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer { 
          display_name = "MAIN";
            bindings = <
                &kp A &kp A &kp B &kp A &kp B &kp C &none      &none &kp LEFT &kp DOWN &kp UP &kp RGHT &kp BSPC &kp DEL
                &kp Q &kp W &kp E &kp R &kp T &kp Y &none      &none &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT
                &kp A &kp S &kp D &kp F &kp G &kp H &none      &none &kp J &kp K &kp L &kp SCLN &kp QUOT &kp ENT
                &none &kp Z &kp X &kp C &kp V &kp B &kp N      &kp M &kp COMMA &kp DOT &kp SLSH &kp RALT &kp RGUI &none
                &none &none &none &none &none &kp Z &kp B      &kp Z &kp B &none &none &none &none &none
            >;
        };
    };
 };
